@font-face {
  font-family: 'moriaregular';
  src: url('resources/fonts/moria_citadel/moria_df-webfont.woff2') format('woff2'),
       url('resources/fonts/moria_citadel/moria_df-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: tan;
  padding: 30px;
}

h1 {
  font-family: 'moriaregular';
}

h2 {
  font-family: 'moriaregular';
}

p {
  margin-left: 15%;
  margin-right: 5%;
}

a:link {
  color: brown;
}

a:visited {
  color: maroon;
}

.sidebar {
  width: 30%;
  float: left;
  background-color: rgb(167, 143, 111);
}