body {
  background-color: tan;
  padding: 30px;
}

h1 { /* Use only for main title! */
  font-family: 'moriaregular';
}

h2 {
  font-family: 'moriaregular';
  text-align: center;
}

p {

}

a:link {
  color: brown;
}

a:visited {
  color: maroon;
}

.sidebar {
  width: 30%;
  float: left;
  background-color: rgb(167, 143, 111);
  border-radius: 25px;
}